$white: #fff;
$black: #222;
$primary: #020065;
$grey: #f0f0f0;
$lightGray: #d7d7d7;
$boldGray: #7d7d7d;
$red: #e04f5f;

$light-blue: #d8f3e9;

$Bug: #a8b820;
$Dark: #705848;
$Dragon: #7038f8;
$Electric: #f8d030;
$Fairy: #ee99ac;
$Fighting: #c03028;
$Fire: #f08030;
$Flying: #a890f0;
$Ghost: #705898;
$Grass: #78c850;
$Ground: #e0c068;
$Ice: #98d8d8;
$Normal: #a8a878;
$Poison: #a040a0;
$Psychic: #f85888;
$Rock: #b8a038;
$Steel: #b8b8d0;
$Water: #6890f0;
