.nav {
  background: linear-gradient(
    135deg,
    rgb(59, 123, 162) 0%,
    rgb(68, 173, 169) 52%,
    rgb(191, 132, 172) 100%
  );
  background-size: 300% 300%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 2.6px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  -webkit-animation: AnimateBG 20s ease infinite;
  animation: AnimateBG 20s ease infinite;

  &bar {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo,
    .store {
      cursor: pointer;
    }

    h3 {
      font-weight: 600;
      font-size: 32px;
    }

    .store {
      cursor: pointer;
      position: relative;

      svg {
        width: 30px;
      }
      &:hover {
        transform: rotate(360deg);
        transition: transform 0.8s ease-in;
      }
    }

    .count {
      position: absolute;
      bottom: 1px;
      right: -3px;
      cursor: initial;

      background-color: $primary;
      border-radius: 50%;
      color: $white;
      font-size: 10px;
      font-weight: 600;
      width: 15px;
      height: 15px;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
